body {
  padding: 1% 20%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #101;
  background: #DDD;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #DC0C7A;
  text-decoration: none;
}

hr {
  border: 0;
  color: #00B7FF;
  background: #00B7FF;
  height: 5px
}

pre {
  background: #FF6CFF;
  border: 2px;
  border-color: #101;
  display: block;
  padding: 0.5em 1em;
  box-shadow: 3px 3px 4px #101;
  margin: 1em 3em;
  font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

.main {
  border: 1px solid #DC0C7A;
  border-radius: 15px;
  padding: 0em 1em;
}

label {
  float: left;
  width: 140px;
  text-align: right;
  font-weight: bold;
  display: block;
  padding: 4px 10px;
}

button {
  display: block;
  margin-left: 160px;
  text-align: right;
  background: #DC0C7A;
  padding: 5px 1em;
  border-radius: 5px;
  border: 1px solid #101;
  font-weight: bold;
}

input, textarea {
  //border-radius: 5px;
  border: 1px solid #101;
  padding: 4px;
}
